.container {
  width: 660px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #b0c7cb;
  box-shadow: 2px 0px 1.5px 0px #bebbbb;
  border-radius: 3px;
  padding: 1em;
  border-top: 25px;
  margin-top: 40px;
  font-family: "Century Gothic";
  color: rgb(97, 92, 92);
}

.titulo {
  text-align: center;
  padding-bottom: 10px;
}

h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

th,
td {
  padding: 8px;
  font-family: "Century Gothic";
}
