<section class="container">
<div class="titulo">
  <h1>ENDEREÇO</h1>
</div>
   

    <table >

            <tr class="linha">
              <th>Rua</th>
              <td class="vertical-line">{{endereco.rua}}</td>
            </tr>
            <tr>
              <th>Bairro</th>
              <td class="vertical-line">{{endereco.bairro}}</td>
            </tr>
            <tr>
              <th>Cidade</th>
              <td>{{endereco.cidade}}</td>
            </tr>
            <tr>
              <th>Estado</th>
              <td>{{endereco.estado}}</td>
            </tr>
            <tr>
              <th>CEP</th>
              <td>{{endereco.cep}}</td>
            </tr>

      </table>

</section>
