<section class="tabela">
    <h1>Endereço</h1>
    <table >

        <thead>
            <tr>
              <th>Rua</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>CEP</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td class="resp"></td>
            <td>{{endereco.rua}}</td>
            <td class="resp"></td>
            <td>{{endereco.bairro}}</td>
            <td class="resp"></td>
            <td>{{endereco.cidade}}</td>
            <td class="resp"></td>
            <td>{{endereco.estado}}</td>
            <td class="resp"></td>
            <td>{{endereco.cep}}</td>
          </tr>
        </tbody>
    
      </table>
</section>
