.container{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #d5e8d1;
    box-shadow: 2px 0px 1.5px 0px #bebbbb;
    border-radius: 3px;
    padding: 1em;
    border-top: 25px;
    margin-top: 50px;
    font-family: 'Century Gothic', sans-serif;
}

.header {

    color: rgb(79, 158, 71);
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    align-items: center;
}

.imagem {
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 15%;
}

h1{
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(65, 81, 79, 0.5);
}